version: '3.8'

services:
  backend:
    build: ./backend
    container_name: codecollab_backend
    ports: 
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_started

  frontend:
    build: ./frontend
    container_name: codecollab_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
    stdin_open: true
    tty: true

  db:
    image: postgres:15
    container_name: db 
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Shravan121005
      POSTGRES_DB: codecollab_db
    volumes:
      - pgdata:/var/lib/postgresql/data
  
volumes:
  pgdata:
